/*body{
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    background: white;
}*/

b {
    color: #333;
}

.header h1 {
    font-size: 2.5rem; /*40px*/
    text-align: center;
    color: #595959;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

a.active {
    background-color: #ddd;
    color: black;
  }

.maincol {
    margin-left: 14rem;
    margin-right: 14rem;
    margin-top: 2rem;
    min-height: 100vh; /* Ensure the body fills the entire viewport height */
}

/* img.author_pp { 
    width: 16rem;
    height: 14rem;
} */

.footer {
    padding: 2px;
    /*text-align: center;*/
    background: #ddd;
    margin-top: 20px;
    overflow: auto;
    color: black;
}

/* Pour les écrans de largeurs inférieures à 600 pixels*/
@media screen and (max-width: 600px) {
    .maincol {
        margin: 0;
    }
}

blockquote {
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    /* border-left: 5px solid #27105f; */
    position: relative;
    padding-left: 10px;
    margin: 20px 0; */
    /* background-color: #f9f9f9; */
}

blockquote::before,
blockquote::after {
    font-family: 'Georgia', serif; /* You can choose any font you like */
    font-size: 3em; /* Adjust the size as needed */
    color: #cccccc; /* Adjust the color as needed */
    position: absolute;
}
blockquote::before {
    content: '“'; /* Opening quotation mark */
    /*left: 10px; /* Adjust position */
    /*top: -10px; /* Adjust position */
    top: -15px;
}

blockquote::after {
    content: '”'; /* Closing quotation mark */
    /*right: 10px; /* Adjust position */
    /*bottom: -10px; /* Adjust position */
}